<div class="container-fluid mx-auto">
    <div class="card">
        <div class="card-body candidate-details">
            <div class="row">
                <div class="col-6 form-group my-2">
                    <label class="p-1" for="name">Name</label>
                    <div class="form-control border-0 px-1">aaaaaaa</div>
                </div>            
                <div class="col-6 form-group my-2">
                    <label class="p-1" for="enrollmentNumber">Enrollment number</label>
                    <div class="form-control border-0 px-1">aaaaaaa</div>
                </div>
                <div class="col-6 form-group my-2">
                    <label class="p-1" for="enrollmentYear">Enrollment year</label>
                    <div class="form-control border-0 px-1">aaaaaaa</div>
                </div>            
                <div class="col-6 form-group my-2">
                    <label class="p-1" for="dob">DOB</label>
                    <div class="form-control border-0 px-1">aaaaaaa</div>
                </div>


                <div class="col-6 form-group my-2">
                    <label class="p-1" for="fatherName">Father's name</label>
                    <div class="form-control border-0 px-1">aaaaaaa</div>
                </div>            
                <div class="col-6 form-group my-2">
                    <label class="p-1" for="motherName">Mother's name</label>
                    <div class="form-control border-0 px-1">aaaaaaa</div>
                </div>
                <div class="col-6 form-group my-2">
                    <label class="p-1" for="gender">Gender</label>
                    <div class="form-control border-0 px-1">aaaaaaa</div>
                </div>
                <div class="col-6 form-group my-2">
                    <label class="p-1" for="casteCat">Caste category</label>
                    <div class="form-control border-0 px-1">aaaaaaa</div>
                </div>
                <div class="col-6 form-group my-2">
                    <label class="p-1" for="disability">Disability</label>
                    <div class="form-control border-0 px-1">aaaaaaa</div>
                </div>
                <div class="col-6 form-group my-2">
                    <label class="p-1" for="mobileNo">Mobile number</label>
                    <div class="form-control border-0 px-1">aaaa</div>
                </div>
                <div class="col-6 form-group my-2">
                    <label class="p-1" for="emailId">Email</label>
                    <div class="form-control border-0 px-1">aaaa</div>
                </div>
                <div class="col-6 form-group my-2">
                    <label class="p-1" for="photo">Photo</label>
                    <div class="form-control border-0 px-1">aaaa</div>
                </div>
                <div class="col-6 form-group my-2">
                    <label class="p-1" for="rciApplication">RCI appication</label>
                    <div class="form-control border-0 px-1">aaaaaaa</div>
                </div>
                <div class="col-6 form-group my-2">
                    <label class="p-1" for="adharCardNo">Adhar card number</label>
                    <div class="form-control border-0 px-1">aaaaaaa</div>
                </div>
                <div class="col-6 form-group my-2">
                    <label class="p-1" for="address">Address</label>
                    <div class="form-control border-0 px-1">aaaa</div>
                </div>
                <div class="col-12 form-group my-2">
                    <button type="button" class="submit-btn btn btn-success my-2">Edit</button> &nbsp;
                    <button type="button" class="submit-btn btn btn-success my-2">Verify</button>
                </div>
            </div>
        </div>
    </div>
</div>