<div class="responsive-table">
    <div>
        <div *ngIf="loggedInUser.UserRoleId === 1">
            Filter
            <div class="row">
                <select class="selectList form-control" [(ngModel)]="academicSession" name="academicSession" id="academicSession">
                    <option value=null>Select Academic year</option>
                    <option value="2">2021-2023</option>
                </select>
                <select class="selectList form-control" [(ngModel)]="courseName" name="courseName" id="courseName" (change)="getPaperCount()">
                    <option [value]=null>Select course name</option>
                    <option [value]="branch.value" *ngFor="let branch of getCourse">{{branch.id}} - {{ branch.label }}</option>
                </select>
                <select class="selectList form-control" [(ngModel)]="center" name="center" id="center" (change)="getPaperCount()">
                    <option value=null>Select center</option>
                    <option [value]="branch.CentreId" *ngFor="let branch of centerArr">{{ branch.CenterName }}</option>
                </select>
                <select class="selectList form-control" [(ngModel)]="year" name="year" id="year">
                    <option value=null>Select session year</option>
                    <option value="first year">First year</option>
                    <option value="second year" disabled>Second year</option>
                </select>
            </div>
        </div>
        <form [formGroup]="marksForm" class="header-listing">
            <table class="header-listing">
                <tbody>
                    <tr>
                        <th scope="col">S.no.</th>
                        <th style="text-align: left;" scope="col">Candidate name</th>
                        <th scope="col">Enrollment</th>
                        <th class="marks-container" style="width: 120px;" *ngFor="let paper of paperArr; let i = index">
                            {{paper.PaperName}}
                            <br/>
                            <button [disabled]="loggedInUser.UserRoleId !== 1 && paper.MarksUpdated" class="btn btn-outline-success btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="updateMarks(i)">Update</button>
                            <span [class.onlyInternal]="loggedInUser.UserRoleId !== 1">Int. {{paper.InternalMarks}}</span>
                            <strong *ngIf="loggedInUser.UserRoleId === 1">&nbsp;|&nbsp;</strong>
                            <span *ngIf="loggedInUser.UserRoleId === 1">Ext. {{paper.ExternalMarks}}</span>
                        </th>
                    </tr>
                    <tr formArrayName="papers" *ngFor="let candidate of marksForm.controls['papers']?.value; let i = index" class="header-listing">
                        <td scope="col">{{i + 1}}</td>
                        <td style="text-align: left;" class="text-capitalize">{{candidate.candidateName}}</td>
                        <!-- <td style="text-align: left;" class="text-capitalize">{{candidate | json}}</td> -->
                        <td class="text-capitalize">{{candidate.enrollmentNumber}}</td>
                        <td class="marks-container" style="width: 80px;padding: 0;" *ngFor="let marksArr of candidate.paper_marks" >
                            <div  style="display: none;" [formGroupName]="i">
                                <input type="text" formControlName="candidate_id" class="form-control"  >
                            </div>
                            <span [class.fw-bold-orange]="marksArr.marks === -2">
                                {{marksArr.marks === -2 ?  'A': marksArr.marks}}
                            </span>
                            <strong *ngIf="loggedInUser.UserRoleId === 1">|</strong>
                            <span *ngIf="loggedInUser.UserRoleId === 1" [class.fw-bold-orange]="marksArr.marks === -2">
                                {{marksArr.externalMarks === -2 ?  'A': marksArr.externalMarks}}
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Update candidate marks</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="marksUpdateForm" class="card-body header-listing">
                    <div formArrayName="updatedMarks" class="mb-3" *ngFor="let item of paperMarksArr; let j = index;">
                        <div [class.multiple-field]="loggedInUser.UserRoleId === 1" [formGroupName]="j">
                            <label for="recipient-name" class="col-form-label">{{candidateArr[j].firstName}} ({{candidateArr[j].enrollmentNumber}}):</label>
                            <div class="update-marks-container">
                                <div>
                                    <span>Internal:</span>
                                    <input type="text" formControlName="updatedMarks" class="form-control" id="recipient-name">
                                </div>
                                <div *ngIf="loggedInUser.UserRoleId === 1">
                                    <span>External:</span>
                                    <input tabindex="1" type="text" formControlName="updatedExtMarks" class="form-control" id="recipient-name">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" #closebutton data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" (click)="savePaperMarks()">Save changes</button>
            </div>
        </div>
        </div>
    </div>
</div>