.submit-btn {
    clear: both;
    width: 250px;
}

.image-upload {
    label {
        position: absolute;
        bottom: -7px;
        left: 0;
        right: 0;
        margin: auto;
        border: 3px dashed #2D2F7E;
        width: 150px;
        cursor: pointer;
        background: #2D2F7E;
        padding: 2px 0 5px;
        color: #fff;
        border-radius: 4px;
        text-align: center;
        &:hover {
            background: #fff;
            color: #2D2F7E;
        }
    }
    input {
        display: none;
    }
}

.image-outer {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    &.upload-signature {
        max-width: 140px;
        max-height: 140px;
        width: auto;
        height: auto;
        padding-bottom: 40px;
        margin: 15px 0 0;
        .image-upload {
            label {
                margin-left: 12px;
            }
        }
    }
    img {
        max-width: 100%;
        max-height: 100%;
    }
    &:hover {
        label {
            display: block;
        }
    }
}

.disabled {
    pointer-events: none;
    background-color: #e9ecef;
}
.form-check {
    label {
        cursor: pointer;
    }
}

