<div class="container-fluid mx-auto">
    <div class="card">
        <!-- <div class="row">
        </div> -->
        <form [formGroup]="candidateDetailsForm" (submit)="candidateRegistration()" class="card-body">
            <div class="row">
                <div class="col-12 form-group my-3 text-center position-relative">
                    <div class="image-outer">
                        <img *ngIf="candidateDetailsForm.controls['photo'].value" [src]="this.candidateDetailsForm.controls['photo'].value" alt="image">
                        <img *ngIf="!candidateDetailsForm.controls['photo'].value" src="assets/images/admin.png" alt="dummy image">
                        <div class="image-upload">
                            <label for="file-input">
                            Upload image
                            </label>
                            <input id="file-input" type="file" accept="image/*" (change)="handleInputChange($event, 'photo')"  />
                        </div>
                    </div>
                </div>
                <div class="col-6 form-group my-2">
                    <label class="p-1" for="name">Name <sup>*</sup></label>
                    <input type="text" autocomplete="off" formControlName="name" class="form-control" id="name" placeholder="Enter name" [readonly]="userDetails.UserRoleId !== 1">
                    <div *ngIf="formSubmitStatus && (candidateDetailsForm.controls['name'].invalid || candidateDetailsForm.controls['name'].errors?.['required'])" class="invalid-feedback">
                        This field is required.
                    </div>
                </div>            
                <div class="col-6 form-group my-2">
                    <label class="p-1" for="enrollmentNumber">Enrollment number <sup>*</sup></label>
                    <input type="text" autocomplete="off" formControlName="enrollmentNumber" class="form-control" id="enrollmentNumber" placeholder="Enter enrollment number" readonly>
                    <div *ngIf="formSubmitStatus && (candidateDetailsForm.controls['enrollmentNumber'].invalid || candidateDetailsForm.controls['enrollmentNumber'].errors?.['required'])" class="invalid-feedback">
                        This field is required.
                    </div>
                </div>
                <div class="col-6 form-group my-2">
                    <label class="p-1" for="enrollmentYear">Enrollment year <sup>*</sup></label>
                    <input type="text" autocomplete="off" formControlName="enrollmentYear" class="form-control" id="enrollmentYear" placeholder="Enter enrollment year" [readonly]="userDetails.UserRoleId !== 1">
                    <div *ngIf="formSubmitStatus && (candidateDetailsForm.controls['enrollmentYear'].invalid || candidateDetailsForm.controls['enrollmentYear'].errors?.['required'])" class="invalid-feedback">
                        This field is required.
                    </div>
                </div>
                <div class="col-6 form-group my-2">
                    <label class="p-1" for="rciApplication">RCI appication <sup>*</sup></label>
                    <input type="text" autocomplete="off" formControlName="rciApplication" class="form-control" id="rciApplication" placeholder="Enter RCI appication" [readonly]="userDetails.UserRoleId !== 1">
                    <div *ngIf="formSubmitStatus && (candidateDetailsForm.controls['rciApplication'].invalid || candidateDetailsForm.controls['rciApplication'].errors?.['required'])" class="invalid-feedback">
                        This field is required.
                    </div>
                </div>            
                <div class="col-6 form-group my-2">
                    <label class="p-1" for="dob">DOB <sup>*</sup></label>
                    <input type="date" autocomplete="off" formControlName="dob" class="form-control" id="dob" placeholder="dd-mm-yyyy" required>
                    <div *ngIf="formSubmitStatus && (candidateDetailsForm.controls['dob'].invalid || candidateDetailsForm.controls['dob'].errors?.['required'])" class="invalid-feedback">
                        This field is required.
                    </div>
                </div>


                <div class="col-6 form-group my-2">
                    <label class="p-1" for="fatherName">Father's name <sup>*</sup></label>
                    <input type="text" autocomplete="off" formControlName="fatherName" class="form-control" id="fatherName" placeholder="Enter father's name" required>
                    <div *ngIf="formSubmitStatus && (candidateDetailsForm.controls['fatherName'].invalid || candidateDetailsForm.controls['fatherName'].errors?.['required'])" class="invalid-feedback">
                        This field is required.
                    </div>
                </div>            
                <div class="col-6 form-group my-2">
                    <label class="p-1" for="motherName">Mother's name <sup>*</sup></label>
                    <input type="text" autocomplete="off" formControlName="motherName" class="form-control" id="motherName" placeholder="Enter mother's name" required>
                    <div *ngIf="formSubmitStatus && (candidateDetailsForm.controls['motherName'].invalid || candidateDetailsForm.controls['motherName'].errors?.['required'])" class="invalid-feedback">
                        This field is required.
                    </div>
                </div>
                <div class="col-6 form-group my-2">
                    <label class="p-1" for="gender">Gender <sup>*</sup></label>
                    <select class="form-control" formControlName="gender" name="gender" id="gender" required>
                        <option value=null>Please gender</option>
                        <option>Male</option>
                        <option>Female</option>
                        <option>Others</option>
                    </select>
                    <div *ngIf="formSubmitStatus && (candidateDetailsForm.controls['gender'].invalid || candidateDetailsForm.controls['gender'].errors?.['required'])" class="invalid-feedback">
                        This field is required.
                    </div>
                </div>
                <div class="col-6 form-group my-2">
                    <label class="p-1" for="casteCat">Category <sup>*</sup></label>
                    <select class="form-control" formControlName="casteCat" name="casteCat" id="casteCat" required>
                        <option value=null>Select category</option>
                        <option value="General">General</option>
                        <option value="OBC">OBC</option>
                        <option value="SC">SC</option>
                        <option value="ST">ST</option>
                        <option value="EWS">EWS</option>
                    </select>
                    <div *ngIf="formSubmitStatus && (candidateDetailsForm.controls['casteCat'].invalid || candidateDetailsForm.controls['casteCat'].errors?.['required'])" class="invalid-feedback">
                        This field is required.
                    </div>
                </div>
                <div class="col-6 form-group my-2">
                    <label class="p-1" for="mobileNo">Mobile number <sup>*</sup></label>
                    <input type="number" min="0" autocomplete="off" formControlName="mobileNo" class="form-control" id="mobileNo" placeholder="Enter mobile number" required>
                    <div *ngIf="formSubmitStatus && candidateDetailsForm.controls['mobileNo'].errors" class="invalid-feedback">
                        Enter 10 digit Mobile Number.
                    </div>
                </div>
                <div class="col-6 form-group my-2">
                    <label class="p-1" for="emailId">Email <sup>*</sup></label>
                    <input type="email" autocomplete="off" formControlName="emailId" class="form-control" id="emailId" placeholder="Enter email" required>
                    <div *ngIf="formSubmitStatus && (candidateDetailsForm.controls['emailId'].invalid || candidateDetailsForm.controls['emailId'].errors?.['required'])" class="invalid-feedback">
                        This field is required.
                    </div>
                </div>
                <div class="col-6 form-group my-2">
                    <label class="p-1" for="adharCardNo">Adhar card number</label>
                    <input type="text" formControlName="adharCardNo" class="form-control" id="adharCardNo" placeholder="Enter Adhar card number">
                </div>
                <div class="col-6 form-group my-2">
                    <label class="p-1" for="disability">Disability <sup>*</sup></label>
                    <!-- <select *ngIf="!otherOptionDisability" class="form-control" formControlName="disability" name="disability" required>
                        <option value=null>Select disability</option>
                        <option *ngFor="let disability of disabilityOptions">{{ disability.value }}</option>
                        <option>HI - Hearing impaired</option>
                        <option>OI - Orthopedic impaired</option>
                        <option>LD - Learning disability</option>
                    </select> -->
                    <!-- <select *ngIf="otherOptionDisability" class="form-control disabled" name="disability" required>
                        <option value=null>Select disability</option>
                    </select> -->

                    <div class="form-check py-2">
                        <label class="form-check-label" for="defaultCheck">
                        <input [checked]="otherOptionDisability" class="form-check-input" type="radio" (change)="otherOption($event, true)" id="defaultCheck" name="disability" />
                          Yes
                        </label>
                        <br>
                        <label class="form-check-label" for="defaultCheckNo">
                        <input [checked]="otherOptionDisabilityNo" class="form-check-input" type="radio" id="defaultCheckNo" name="disability" (change)="otherOption($event, false)"/>
                            No
                        </label>
                    </div>
                    <select *ngIf="otherOptionDisability" (change)="selectDisability()" class="form-control" formControlName="disability" name="disability" required>
                        <option value=null>Select disability</option>
                        <option [value]="disability.value" *ngFor="let disability of disabilityOptions">{{ disability.value }}</option>
                        <option>Other</option>
                    </select>
                    <br />
                    <input *ngIf="disabilityInputBox" placeholder="Enter disability" autocomplete="off" class="form-control" type="text" formControlName="disabilityInput" name="disability" id="disability" required>
                    <div *ngIf="formSubmitStatus && (candidateDetailsForm.controls['disability'].invalid || candidateDetailsForm.controls['disability'].errors?.['required'])" class="invalid-feedback">
                        This field is required.
                    </div>
                </div>
                <div class="col-6 form-group my-2">
                    <label class="p-1" for="address">Address <sup>*</sup></label>
                    <textarea formControlName="address" class="form-control" id="address" name="address" cols="30" rows="3" placeholder="Enter address" required></textarea>
                    <div *ngIf="formSubmitStatus && (candidateDetailsForm.controls['address'].invalid || candidateDetailsForm.controls['address'].errors?.['required'])" class="invalid-feedback">
                        This field is required.
                    </div>
                </div>
                <div class="col-6 form-group my-2 position-relative">
                    <label class="p-1" for="signature">Signature <sup>*</sup></label>
                    <div class="image-outer upload-signature">
                        <img *ngIf="candidateDetailsForm.controls['signature'].value" [src]="this.candidateDetailsForm.controls['signature'].value" alt="image">
                        <img *ngIf="!candidateDetailsForm.controls['signature'].value" src="assets/images/signature.png" alt="signature image">
                        <div class="image-upload">
                            <label for="signature-input">
                                Upload signature
                            </label>
                            <input id="signature-input" type="file" accept="image/*" (change)="handleInputChange($event, 'signature')"  />
                        </div>
                    </div>
                </div>
                <div class="col-12 form-group my-2">
                    <button [disabled]="(!candidateDetailsForm.dirty)" type="submit" class="submit-btn btn btn-success my-2">Submit</button>
                    <div *ngIf="loader" class="spinner-border spinner-border-middle align-text-top" role="status"></div>
                </div>
            </div>
        </form>
    </div>
</div>