<div class="responsive-table">
    <div id="download" style="width:100%;">
        <table class="header-listing-statement" style="width: 100%;border: 1px solid #dddddd; border-bottom: 0;">
            <tr>
                <td style="width: 24%; display: inline-block; vertical-align: top; padding: 30px 0 20px 10px;">
                    <img style="max-width: 100%; height: 60px;" src="http://nber.niepvdlib.co.in/assets/images/Logo-of-RCI.png" alt="image">    
                </td>
                <td style="width: 24%; display: inline-block; vertical-align: top; text-align: center; padding: 30px 0 20px;">
                    <img style="max-width: 100%; height: 60px;" src="http://nber.niepvdlib.co.in/assets/images/Ashok-Stambh.png" alt="image">
                </td>
                <td style="width: 24%; display: inline-block; vertical-align: top; text-align: center; padding: 30px 0 20px;">
                    <img style="max-width: 100%; height: 60px;" src="http://nber.niepvdlib.co.in/assets/images/NIEPVD-LOGO.png" alt="image">
                </td>
                <td style="width: 24%; display: inline-block; vertical-align: top; text-align: right; padding: 30px 10px 20px 0px;">
                    <img style="max-width: 100%; height: 60px;" src="http://nber.niepvdlib.co.in/assets/images/Azadi-ka-Mahotsav-Eng.png" alt="image">
                </td>
            </tr>
        </table>
        <div class="header-listing-statement" style="border: 1px solid #dddddd; border-bottom: 0; padding: 30px 10px 20px;">
            <div style="text-align: center; margin-top: 20px;">
                <h3 style="font-size: 18px; font-weight: 700;padding-bottom: 0px">National Institute for the Empowerment of Persons with Visual Disabilities</h3>
                <h3 style="font-size: 18px; font-weight: 700;padding-bottom: 0px">(DIVYANGJAN), 116, Rajpur Road, Dehradun, Uttarakhand</h3>
            </div>
            <div style="text-align: center; margin-top: 20px;">
                <h3 style="font-size: 18px; font-weight: 600;padding-bottom: 0px">courseName</h3>
                <h4 style="font-size: 14px; font-weight: 600;padding-bottom: 0px">Statement of Marks - 2021-2023 <span style="text-transform: uppercase;">year theoryPractical</span></h4>
                <h4 style="font-size: 14px; font-weight: 600;padding-bottom: 0px; width: 90%; margin: 0 auto 10px;">Examination of Center: centerName</h4>
            </div>
        </div>
        <table cellspacing="0" border="1" style="width: 100%;" class="header-listing statement header-listing-statement">
            <tbody style="width: 100%;">
                <tr style="width: 100%; background-color: #ffa5008f;">
                    <th style="vertical-align: bottom; font-weight: 600; padding: 10px; border: 1px solid #ddd; text-align: center;">S.no.</th>
                    <th style="vertical-align: bottom; font-weight: 600; padding: 10px; border: 1px solid #ddd; text-align: center;text-align: left; width: 220px;">Candidate name</th>
                    <th style="vertical-align: bottom; font-weight: 600; padding: 10px; border: 1px solid #ddd; text-align: center;width: 120px;">Enrollment</th>
                    <th class="marks-container" style="vertical-align: bottom; font-weight: 600; padding: 10px; border: 1px solid #ddd; text-align: center;width: 150px;">
                        paper.PaperName
                        <br/>
                        <span >Int. paper.InternalMarks</span>
                        <strong>&nbsp;|&nbsp;</strong>
                        <span>Ext. paper.ExternalMarks</span>
                        <strong>&nbsp;|&nbsp;</strong>
                        <span>Tot. paper.InternalMarks + paper.ExternalMarks</span>
                    </th>
                    <th style="vertical-align: bottom; font-weight: 600; padding: 10px; border: 1px solid #ddd; text-align: center;width:350px;">Remarks</th>
                </tr>
                <tr class="header-listing">
                    <td style="width: 100px;padding: 10px;" scope="col">i + 1</td>
                    <td style="width: 220px;text-align: left;padding: 10px;" class="text-capitalize">candidate.firstName</td>
                    <td style="width: 150px;text-align: center;padding: 10px;" class="text-capitalize">candidate.enrollmentNumber</td>
                    <td class="marks-container" style="width: 80px;padding: 10px;text-align: center;">
                        <span>
                            marksArr.InternalMarks
                        </span>
                        <strong>|</strong>
                        <span >
                            marksArr.ExternalMarks
                        </span>
                        <strong>|</strong>
                        <span>
                            totalMarks
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
        <div class="header-listing-statement" style="width: 100%;">
            <ul style="list-style: none;display: inline-block; width: 20%;padding: 0;">
                <li>Note</li>
                <li>Pass Percentage</li>
                <li>Pass Class</li>
                <li>Second Div</li>
                <li>First Div</li>
                <li>Distinction</li>
                <li>Place</li>
                <li>Dated</li>
            </ul>
            <ul style="list-style: none;display: inline-block; width: 30%;padding: 0;">
                <li>40% in theory & 50% in practiculam in each subject separately (Internal & External)</li>
                <li>40% - 49.9%</li>
                <li>50% - 59.9%</li>
                <li>60% - 74.5%</li>
                <li>75% or above</li>
                <li>NIEPVD, Dehradun</li>
                <li>Date</li>
            </ul>
            <ul style="display: inline-block; width: 48%; position: relative; left: -50px;padding: 0;">
                <li style="display: inline-block; width: 30%;">PREPARED BY</li>
                <li style="display: inline-block; width: 30%; text-align: center;">CHECKED & VERIFIED BY</li>
                <li style="display: inline-block; width: 38%;text-align: right;">INCHARGE - NIEPVD-NBER</li>
            </ul>
        </div>
    </div>
    <br />
    <button class="btn btn-outline-success">Print Diploma</button>
</div>