<div class="form-container mx-auto">
    <div class="card">
        <form [formGroup]="changePasswordForm" class="card-body">
            <div class="form-group my-2">
                <label class="p-1" for="changePassword">Change password</label>
                <input type="password" formControlName="changePassword" class="form-control" id="changePassword" placeholder="Enter new password" required>
            </div>
            <div class="form-group my-2">
                <label class="p-1" for="confirmPassword">Confirm new password</label>
                <input type="password" formControlName="confirmPassword" class="form-control" id="confirmPassword" placeholder="Confirm new password" required>
            </div>
            <button type="button" (click)="changePassword()" class="btn btn-success my-2">Submit</button>
        </form>
    </div>
</div>