table.examinationForm {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
      width: 50%;
      strong {
        display: inline-block;
        margin-right: 10px;
      }
      ul {
        display: inline-block;
        width: 100%;
        clear: both;
      }
      select {
        display: inline-block;
        width: calc(100% - 200px);
      }
    }
  }
  