/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Roboto', sans-serif;
}
.form-container {
    max-width: 640px;
    width: 90%;
}
.minimum-height {
    min-height: calc(100vh - 320px);
}
.invalid-feedback {
    display: block;
}
.form-control:focus {
    box-shadow: none;
    border-color: #2D2F7E;
}

.list-group-item.active {
    background-color: #2D2F7E;
    border-color: #2D2F7E;
}

sup {
    color: #ff0000;
    font-size: 15px;
}

.spinner-border-middle {
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

table tr td {
    &:last-child {
        width: 100px;
    }
}
// .responsive-table {
//     min-width: 1024px;
//     overflow-x: auto;
// }
.badge {
    color: #333;
}